#callout {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	display:none;
	text-align:left;
	margin:auto;
	top: 20%;
	left: 15%;
	padding: 6px;
	width: 280px;
	height:220px;
	background-color: rgba(200, 200, 200, 0.6);	
	z-index:0;
	position:absolute;
	border: 1px solid green;
	color:white;
}
